
<footer class="footer">
	<div class="social-icons">
		<a href="https://www.facebook.com/bruno.gabriel.56679015?mibextid=ZbWKwL" target="_blank" class="mr-2"><i class="fab fa-facebook-f"></i></a>
		<a href="https://x.com/BrNGabs?t=BhEbgVrAPyZMpiwc01Qc2w&s=08" target="_blank" class="mr-2"><i class="fab fa-twitter"></i></a>
		<a href="https://www.instagram.com/bruninhogabs/" target="_blank" class="mr-2"><i class="fab fa-instagram"></i></a>
		<a href="https://www.linkedin.com/in/bruno-gabriel-a6b9bb269?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="mr-2"><i class="fab fa-linkedin-in"></i></a>
	</div>
	<br/>
	<div>&copy; 2024 Dev. Bruno Gabriel da Silva | Todos os direitos reservados.</div>
</footer>